@import url("https://fonts.googleapis.com/css?family=Muli:200,300,400|Roboto");

body {
    background-image: url("media/404.gif");
    background-size: cover;
}

.centered {
    position: relative;
    text-align: center;
    top: 25%;
    font-family: "Muli", sans-serif;
    color: white;
}

.big_header {
    font-weight: 200;
    font-size: 5em;
    opacity: 0.7;
}

.small_header {
    font-weight: 200;
    font-size: 2.5em;
    opacity: 0.7;
}

.go_home {
    font-size: 2em;
    font-weight: 200;
    opacity: 0.7;
    color: white;
    text-decoration: none;
    border-bottom: dotted;
}

.go_home:hover {
    border-bottom: solid;
}
